<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meshu.mealsystem" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lan"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Meal System"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AfterLogin"
            android:label="@string/title_activity_after_login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Sheet"
            android:label="@string/title_activity_sheet" >
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name=".Result"
            android:label="@string/title_activity_result" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AfterLogin" />
        </activity>
        <activity
            android:name=".DescriptoinActivity"
            android:label="@string/title_activity_descriptoin" >
        </activity>
        <activity
            android:name=".Notify"
            android:label="@string/title_activity_notify" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
    </application>

</manifest>
